<link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/index.css">

<div class="container">
	<h1>Room does not exist, sorry</h1>
</div>

<script src="../styles/bootstrap/js/bootstrap.min.js"></script>