<link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/room.css">
<script src="/socket.io/socket.io.js"></script>

<div class="center container">
	<h1 id="room-title"><%= roomName %></h1>
	<div id="player"></div>
	<form id="url-box">
		<input id="url-box" type="text" placeholder="Youtube url" required="" autofocus="">
		<button type="button" id="submit-url-button" class="btn btn-lg btn-success">Add</button>
	</form>
	<h3>Now Playing:</h3> <p id="nowPlaying"></p> 
	<button type="button" id="nextVideoButton" class="btn btn-lg btn-success">Next Video</button>
	<h1>Queue:</h1>
	<ol id="urlList">

	</ol>
	<!--
	<h1>Members</h1>	
	<ul id="membersList">

	</ul>
	-->
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../styles/bootstrap/js/bootstrap.min.js"></script>
<script src="http://www.youtube.com/player_api"></script>

<script>
	// create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange,
            'onError': onPlayerError
          }
        });
    }

	var youtubeIds = [];
	var socket = io.connect();
	var roomName = $("#room-title").text();
	var nickname;
	//var nickname = prompt('Nickname please:', nickname);
	if(nickname == ""){
		nickname = "Some Dude";
	}

	//when join emit name and room to get back urls and name
	socket.emit('join', {nickname: nickname, roomName: roomName});
	socket.on('urls', function(urls){
		urls.forEach(function(url){
			$('#urlList').append($('<li data-url=' + url +'>' + url + "</li>"));
			youtubeIds.push(getYoutubeId(url));
		});
		$('#urlList').children().first().remove();
		$('#nowPlaying').text('http://www.youtube.com/watch?v=' + youtubeIds[0]);
		player.loadVideoById(youtubeIds[0]);
		youtubeIds.splice(0, 1);
	});
	socket.on('names', function(names){
		names.forEach(function(name){
			$('#membersList').append($('<li data-name=' + name + '>' + name + "</li>"));
		});
	});
	socket.on('addName', function(name){
		$('#membersList').append($('<li data-name=' + name + '>' + name + "</li>"));
	});
	socket.on('removeName', function(name){
		$('#membersList li[data-name=' + name + ']').remove();
	});
	socket.on('addUrl', function(url){
		$('#urlList').append($('<li data-url=' + url +'>' + url + "</li>"));
		youtubeIds.push(getYoutubeId(url));
	});
	$("#submit-url-button").on('click', function(e){
		var url = $("input").val();
		$('input').val('');
		socket.emit('addUrl', {roomName:roomName, url:url});
		$('#urlList').append($('<li data-url=' + url +'>' + url + "</li>"));
		youtubeIds.push(getYoutubeId(url));
	});
	$('#nextVideoButton').on('click', nextVideo);

    // autoplay video
    function onPlayerReady(event) {
        //event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) { 
        if(event.data === 0) {
			nextVideo();
        }
    }
    function nextVideo(){
		if(youtubeIds.length > 0){
			$('#urlList').children().first().remove();
			$('#nowPlaying').text('http://www.youtube.com/watch?v=' + youtubeIds[0]);
			player.loadVideoById(youtubeIds[0]);
			youtubeIds.splice(0, 1);
		}
    }
    function onPlayerError(event){
    	nextVideo();
    }
    function getYoutubeId(url){
    	var indexOf = url.indexOf('?');
    	return url.substring(indexOf+3);
    }
</script>